.content {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    justify-content: space-between;
    width: 1200px;
    margin: 0 auto; 
}

.content__rows{
    display: flex;
    flex-direction: column;
}

.content__row1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
      
}

.content__row2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
}

.content__row3 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
}

.content_news {
    display: flex;
    flex-direction: row;
}
.content__body {
    display: flex;
    flex-direction: column;
    flex: 0 1 50%;
}

.content__image {
    flex: 0 0 100px;
}

.content__tools1, .content__tools2, .content__tools3, .content__tools4, .content__tools5 {
    display: flex;
    flex-direction: column;
}

.content__row2 img {
    max-width: 200px;
}

.content_reviews {
    display: flex;
    flex-direction: column;
}