.footer {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    justify-content:space-between;
    background-color: #e8f0e4; 
    width: 1200px;
    margin: 0 auto; 
}

.footer__row {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}