.header{
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
    justify-content:space-between;
    background-color: #e8f0e4;
    width: 1200px;
    margin: 0 auto; 
}

.head {
    display: flex;
    flex-direction: column;
}

.logo {
    float: left;
}

.head__info {
    display: flex;
    flex-direction: row;
}

.head__slogan span {
    font-size: 15px;
    text-transform: uppercase;
}

.head__workschedule {
    display: flex;
    flex-direction: row;
}

.head__number{
    display: flex;
}

.head__connection {
    display: flex;
    flex-direction: column;
}

.head__nav {
    display:flex;
    
}

.head__nav > ul > li {
    display: inline-block;
    
}

.head__nav > ul > li.active a{
    background: black;
    color: #ffffff;
}